{% extends 'dashboard.html'%}
{% block head %}
{% endblock %}

{% block body%}

<div class="search  justify-content-center d-flex w-100">
    <input type="text">
</div>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>delaer name</th>
                <th>Cost</th>
                <th>Stock</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
    {% for i in dealer%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.med_name}}</td>
                <td>{{i.dealer_nam}}</td>
                <td>{{i.cost}}</td>
                <td>{{i.stock}}</td>
                <td>{{i.description}}</td>
                <td id="action"><button id="edi" class="btn btn-success">Edit</button><button id="del" class="btn btn-danger">Delete</button></td>
            </tr>
    {% endfor %}
            
            <!-- Add more rows as needed -->
        </tbody>
    </table>
{% endblock %}








