{% extends 'dashboard.html'%}
{% block head %}
{% endblock %}

{% block body%}

<div class="float-end justify-content-between ">
   <a href="{% url 'add_purchase'%}"><button class="btn" type="submit"  id="cusbtn">Add </button></a> 
</div>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Product Name</th>
                <th>price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
    {% for i in purchases %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.product_name}}</td>
            
                <td>{{i.price}}</td>
                <td>{{i.quantity}}</td>
                <td id="action"><a href="{% url 'update_purchase' i.id %}" class="btn btn-success w-25 border-1" id="edit">Edit</a><a id="del" href="{% url 'delete_med' i.id %}" class="btn btn-outline-danger border" >Delete</a></td>
            </tr>
    {% endfor %}
            
            <!-- Add more rows as needed -->
        </tbody>
    </table>
{% endblock %}








