{% extends 'dashboard.html'%}
{% block head %}
{% endblock %}

{% block body%}
<!-- <div class="justify-content-between">
    <button class="btn btn-primary " id="cusbtn">Add customer</button>
</div> -->
<div class="float-end justify-content-between ">
    <a href="{% url 'add_customer'%}"><button class="btn"" id="cusbtn">Add </button></a>
</div>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Company</th>
                <th>Cost</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
    {% for i in customer%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.cus_name}}</td>
                <td>{{i.address}}</td>
                <td>{{i.phone_no}}</td>
                <td>{{i.email}}</td>
                <td id="action"><a href="{% url 'update_customer' i.id %}" class="btn btn-success w-25 border-1" id="edit">Edit</a><a id="del" href="{% url 'delete_med' i.id %}" class="btn btn-outline-danger border" >Delete</a></td>
            </tr>
    {% endfor %}
            
            <!-- Add more rows as needed -->
        </tbody>
    </table>
{% endblock %}








