
html{
  scroll-behavior: smooth;
}
body {
      margin: 0;
      padding: 0;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
  

   
  }

  header {
    background-color: #000080 ;
    color: white;
    padding: 10px;
    text-align: center;
  }

  nav {
    background-color: lightblue;
    overflow: hidden;
    display: flex;
    justify-content: center; 
  }

  nav a {
    /* float: center; */
    display: block;
    color: #000080;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: white;
    border-radius: 10px;
    color: red;
  }

  .content{
    /* text-align: center; */
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }

  /* login css */

  .login-form{

    text-align: center;
    align-items: center;
    margin-top: 1rem;
/*     border: #000080 solid 2px; */
/*     border-radius: 4px; */
    width: 100%;
    height: 100%;
  }
  label{
    color: #000080;
  }
  #username{
padding: 0.2rem;

  }
  #pass{
    padding: 0.2rem;
    margin-top: 2rem;
  }
  #login-head{

font-family: Arial, Helvetica, sans-serif;
text-align: center;
  }
  #btn{
    margin-top: 20px;
    width: 5rem;
    background-color: #000080;
    color: white;
    border-radius: 5px;
    height: 2rem;
font-family: 'Courier New', Courier, monospace;  }


  

  @media (max-width: 600px) {
    nav {
      flex-direction: column; /* Stack the items vertically on small screens */
      align-items: center; /* Center the items vertically */
    }

    nav a {
      width: 100%;
      box-sizing: border-box;
    }
  }
