{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>

    <header>
        <h1>Medical shop management system</h1>
      </header>
    
      <nav>
        <a href="index">Home</a>
        <a href="#about">About</a>
        <a href="#service">Services</a>
        <a href="#">Contact</a>
   
      </nav>
    <h1 id="login-head">Login </h1>
    <form action="" method='POST' class="login-form">
      {% csrf_token %}
    <label for="">Username</label>
    <input type="text" name="username" id="username" > <br>
    <div>
    <label for="">Password</label>
    <input type="password" name="password" id="pass"> <br>

    <input type="submit" id="btn" value="login">
</div>
</form>
</body>
</html>