{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body class="login-bg">

    

  <nav>
    <span class="logo">Pharmacy shop management system</span>
    <ul>
        <li><a href="{% url 'index'%}">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#service">Services</a></li>
        <li><a href="#contact">Contact</a></li>
     
    </ul>
</nav>
    <h1 id="login-head">Admin Login </h1>

    <form action="" method="POST" class="login-form">
      {% csrf_token %}

    <label for="">Username</label>
    <input type="text" name="username" id="username" required > <br>
    <div>
    <label for="">Password</label>
    <input type="password" name="password" id="pass" required> <br>

    <input type="submit" id="btn" value="login">

    {% for message in messages %}
    <h3 id="message">{{ message}}</h3>
    {% endfor%}
</div>
</form>
</body>
</html>