{% extends 'dashboard.html'%}
{% block head %}
{% endblock %}

{% block body%}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Company</th>
                <th>Cost</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
    {% for i in dealer%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.company}}</td>
                <td>{{i.cost}}</td>
                <td>{{i.type}}</td>
                <td id="action"><a href="">add</a><a href="">delete</a><button>Edit</button></td>
            </tr>
    {% endfor %}
            
            <!-- Add more rows as needed -->
        </tbody>
    </table>
{% endblock %}








