{% extends 'dashboard.html'%}
{% block head %}
{% endblock %}

{% block body%}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Product Name</th>
                <th>Customer name</th>
                <th>Phone no</th>
                <th>price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
    {% for i in purchase %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.product_name}}</td>
                <td>{{i.cus_name}}</td>
                <td>{{i.phone_no}}</td>
                <td>{{i.price}}</td>
                <td>{{i.quantity}}</td>
      
                <td id="action"><button id="edi">Edit</button><button id="del">Delete</button></td>
            </tr>
    {% endfor %}
            
            <!-- Add more rows as needed -->
        </tbody>
    </table>
{% endblock %}








