{% extends 'dashboard.html'%}
{% block head %}
{% endblock %}

{% block body%}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone no</th>
                <th>Email</th>
            
            </tr>
        </thead>
        <tbody>
    {% for i in customer%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.cus_name}}</td>
                <td>{{i.address}}</td>
                <td>{{i.phone_no}}</td>
                <td>{{i.email}}</td>
      
                <td id="action"><button id="edi">Edit</button><button id="del">Delete</button></td>
            </tr>
    {% endfor %}
            
            <!-- Add more rows as needed -->
        </tbody>
    </table>
{% endblock %}








