
{% extends 'dashboard.html'%}
{% load static %}

{% block head %}
{% endblock %}

{% block body%}
<div class=" m-5 justify-content-center w-100 align-items-center">
<h3>Update form</h3>
    <form method="POST" action="update_medicine/{medicines.id}" class=" " >

        {% csrf_token%}
        {% for medicine in medicines %}
        <div class="form-group w-50 ">
            <label for="name">name</label>
            <input type="text " class="form-control w-50 " value="{{medicine.name}}" name="name">

        </div>
        <div class="form-group w-50">
            <label for="name">company</label>
            <input type="text " class="form-control w-50" value="{{medicine.company}}" name="name">

        </div>
        <div class="form-group w-50">
            <label for="name">cost</label>
            <input type="text " class="form-control w-50" value="{{medicine.cost}}" name="name">

        </div>
        <div class="form-group w-50">
            <label for="name">type</label>
            <input type="text " class="form-control w-50" value="{{medicine.type}}" name="name">

        </div>
        {% endfor %}
        
        <button  type="submit" class="form-btn  mt-3 btn btn-primary">update</button>
        </form>
</div>


{% endblock %}